---
const { title } = Astro.props;
const { page } = Astro.props;
const { previous } = Astro.props;
const { previousURL } = Astro.props;
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="da">
  <head>
    <link rel="stylesheet" href="../../base.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link class="favicon" rel="icon" href="favicon_io-3/favicon.ico" />

    <title>Circular Lab - {title}</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
  </head>
  <body>
    <header>
      <Header />
      <div class="menu">
        <a href="#">Forside</a> / <a href="#">Labs</a> / <a href="#"
          >Circular Labs</a
        >
        / <a href="/">Circular Lab</a> / <a href={previousURL}>{previous}</a> /
        <a href="#">{page}</a>
      </div>
    </header>
    <main>
      <slot />
    </main>
  </body>
  <footer>
    <Footer />
  </footer>
</html>

<style>
  html,
  body {
    background-color: #ededed;
    margin: 0 auto;
    width: 100%;
    height: 100%;
  }

  main {
    /* max-width: 1400px; */
    margin: 0 auto;
  }

  .menu {
    display: flex;
    gap: 10px;
    padding: 10px;
    justify-content: start;
    align-items: baseline;
  }
</style>
