---
//@ts-nocheck
import Layout from "/src/layouts/Layout.astro";
import ArrowButton from "/src/components/ArrowButton.astro";
import Titel from "/src/components/Titel.astro";
import GlassButton from "../../components/GlassButton.astro";
export async function getStaticPaths() {
  const url =
    "https://cbspsmpkfjialzthyppy.supabase.co/rest/v1/events?select=*";
  const key =
    "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNic3BzbXBrZmppYWx6dGh5cHB5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDQyNjc3NzIsImV4cCI6MjA1OTg0Mzc3Mn0.uT6SjEaiJR1sSTevguX9qaKc7UK3EGLiF-_PjHwOS94";

  const options = {
    headers: { apikey: key },
  };
  const data = await fetch(url, options).then((res) => res.json());
  console.log(data);

  return data.map((event) => {
    return {
      params: { slug: event.event_slug },
      props: { event },
    };
  });
}
const formatTime = (time) => time.slice(0, 5);
const formatDate = (date) => {
  const options = { day: "numeric", month: "long", year: "numeric" };
  return new Intl.DateTimeFormat("da-DK", options)
    .format(new Date(date))
    .toLowerCase();
};

const { event } = Astro.props;
---

<Layout
  title={event.event_title}
  page={event.event_title}
  previous="Events"
  previousURL="/events"
>
  <h1>{event.event_title}</h1>
  <div class="grid_5-4_container">
    <div>
      <div class="border">
        <div class="grid_1-1_container">
          <div>
            <div class="flex">
              <p class="bold-p">Dato:</p>
              <p>{formatDate(event.event_date)}</p>
            </div>
            <div class="flex">
              <p class="bold-p">Tidspunkt:</p>
              <p>
                {formatTime(event.event_start)} -
                {formatTime(event.event_end)}
              </p>
            </div>
          </div>
          <div class="button_wrapper">
            <GlassButton text="Gem til kalender" />
          </div>
        </div>
      </div>

      <h2>Om {event.event_title}</h2>
      <p class="text-string">{event.event_description02}</p>
      <p class="text-string">{event.event_description03}</p>
      <p class="text-string">{event.event_description04}</p>
      <p class="text-string">{event.event_description05}</p>
      <p class="text-string">{event.event_description06}</p>

      <ArrowButton url={event.extern_link} text="Tilmeld" />

      <p class="bold-p">Lokation:</p>
      <p>{event.event_location}</p>
    </div>

    <div>
      <img
        class="event_card_img"
        width="1041px"
        height="752px"
        src={`/imgs_circular_lab/${event.event_img02}`}
        alt=""
      />
      <img
        class="event_card_img"
        width="1041px"
        height="752px"
        src={`/imgs_circular_lab/${event.event_img03}`}
        alt=""
      />
    </div>
  </div>
</Layout>
